@model IEnumerable<IsoFM.WebSite.Models.TrackViewModel>

@{
    ViewBag.Title = "DetailsTracks";
}

<center><h2>DetailsTracks</h2></center>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
    </tr>
}

</table>
